.card-body {
    padding: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.modal-backdrop.show {
    opacity: 0.4;
    z-index: 1000 !important;
}

.modal.show {
    opacity: 1;
    z-index: 1001 !important;
}

.modal-dialog {
    transform: none !important;
}

.tooltip.show {
    opacity: 1;
}

.visibility-hidden {
    visibility: hidden;
}